[Unit]
Description=gunicorn daemon
#Requires= gunicorn.socket
After=network.target

[Service]
User=archit0994
Group=www-data
WorkingDirectory=/home/archit0994/misc/gitwork/portfolio
ExecStart=/home/archit0994/misc/gitwork/portfolio/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/archit0994/misc/gitwork/portfolio/portfolio.sock portfolio.wsgi:application

[Install]
WantedBy=multi-user.target